<!-- app/views/game/_board.html.erb -->
<table>
  <% @board.each_with_index do |row, i| %>
    <tr>
      <% row.each_with_index do |cell, j| %>
        <td><%= cell || '-' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
